<!DOCTYPE html>
<html lang="en">

    <head>
        {{>head}}

        <title>Movie library</title>
    </head>

    <br>

    <body>
        <div>
            <input name="title" type="text" id="txtTitle" placeholder="Name of the movie">
            <input name="year" type="number" min="1900" max="2100" step="1" id="txtYear" placeholder="Year">
            <button id="btnSearch">Search Movie</button>

        </div>
        <ul id="omdbMovieList">
            <!-- jsInsert  -->
            <li id="movieID">
                <img src="" alt="" class="movieThumb">
                <p class="movieTitle">1</p>
                <p class="movieYear">2</p>
            </li>
        </ul>


        {{>body}}

        <h1> {{title}} - {{year}} - {{genre}} </h1>
        <span class='box'> <img src="img/dune.jpeg" alt=""> </span> {{>footer}}

    </body>

    {{>scripts}}

</html>