<!DOCTYPE html>
<html lang="en">

    <head>

        {{>head}}

        <title>Movie library</title>
    </head>

    <body>
        <h1>INDEX</h1>
        {{ test }}
        {{!-- <form method="POST">
        <input name="title" type="text" id="txtTitle" placeholder="Name of the movie">
        <input name="year" type="number" min="1900" max="2100" step="1" id="txtYear" placeholder="Year">
        <button id="btnSearch">Search</button>

    </form> --}}



        {{!-- <span class='box'> <img src="img/dune.jpeg" alt=""> </span> --}}

        {{>footer}}
    </body>

</html>